* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid black;
}

/*------------------------------------ header part style start--------------------- */
#header {
    background-color: black;
    color: white;
    display: flex;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 100px;
}

.player-info {
    width: 50%;
    margin-right: 150px;
}

#header h1 {
    font-size: 80px;
    font-weight: 700;
}

#header p {
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

#header button {
    width: 170px;
    height: 50px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    color: white;
}

#header button .fa-angle-right {
    margin-left: 10px;
}

.player-pic img {
    width: 400px;
}


/*------------------------------------ header part style end--------------------- */
/* main part start here */
#main {
    width: 80%;
    margin: 100px auto;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
}

/* left side start */
.left-side {
    background-color: black;
    margin-right: 20px;
    height: 320px;
    border-radius: 10px;
}

.left-side ul {

    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 10%;
    text-align: center;

}

.left-side ul li {
    padding: 1rem;
    list-style: none;
    border-radius: 5px;
    background-color: aliceblue;
    margin: 10px 0;
}

.left-side ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}

.left-side ul .other-color {
    background-color: red;
    color: white;
}

.left-side ul .other-color a {
    color: white;
}

/* left side end */

/* right-side start */
.right-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20pX;
}

.right-side .blogs {
    width: 100%;
    box-shadow: 1px 1x 5px;
    border-radius: 5px;

}

.right-side .blogs .blog .photo {
    width: 100%;
}

.right-side .blogs button {
    width: 150px;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 10px 10px;
}

.right-side .blogs p {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 10px;
}

.right-side .blogs .icons .icon {
    margin-left: 100px;
}

/* right-side end */

/* main part end here */
.viw {
    width: 200px;
    margin: 0 auto;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    margin-bottom: 10px;
    color: white;
    display: none;
}

.viw a {
    position: relative;
    left: 27%;
    top: 3px;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;

}

/* footer */
footer {
    padding-top: 80px;
    color: white;
    text-align: center;
    background-color: black;
}

footer h1 {
    padding-bottom: 60px;
}

.footerhr hr {
    width: 80%;
    margin: 0 auto;
}

.footerhr ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

.footerhr ul li {
    list-style: none;
    padding: 10px;
    margin-right: 30px;
}

.footerhr ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

footer .sosail ul {
    margin-top: 1px;
}

/* responsive */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #header {
        color: white;
        display: flex;
        width: 100%;
        background-color: black;
        border-radius: 10px;
        padding: 20px;
    }

    .player-info {
        width: 50%;
        margin-right: 50px;
    }

    #main {
        width: 100%;
        display: block;
        /* display: grid;
        background-color: aqua;
        grid-template-columns: repeat(2, 1fr); */
    }

    .left-side {
        height: 100%;
        margin: 0 auto;
    }

    .left-side ul {
        background-color: white;
        padding: 0 30px;
        width: 100%;

        display: flex;
        padding-left: 50px;
        border-radius: 10px;
    }

    .left-side ul li {
        margin: 20px;
        width: 300px;
        border: 1px solid;
    }

    .right-side {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
    }

    .right-side .blogs .blog .photo {
        width: 100%;
    }

    .right-side .blogs button {
        width: 150px;
        font-size: 1.2rem;
        padding: 5px 10px;
        margin: 10px 10px;
    }

    .viw {
        display: block;
    }

    .footerhr ul {
        display: grid;
        grid-template: repeat(1, 1fr);
        grid-row-gap: 2em;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 30px;
        background-color: black;
    }

}

@media screen and (max-width: 767px) {
    #header {
        color: white;
        width: 100%;
        background-color: black;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .player-info,
    .player-pic {
        width: 100%;
        padding-bottom: 10px;
        margin: 0 auto;
    }

    #main {
        width: 100%;
        display: block;
        /* display: grid;
        background-color: aqua;
        grid-template-columns: repeat(2, 1fr); */
    }

    .left-side {
        height: 100%;
        margin: 0 auto;
    }

    .left-side ul {
        background-color: white;

        width: 100%;

        border-radius: 10px;
    }

    .right-side {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .right-side .blogs .blog .photo {
        width: 100%;
    }

    .right-side .blogs button {
        width: 150px;
        font-size: 1.2rem;
        padding: 5px 10px;
        margin: 10px 10px;
    }

    footer {
        padding-top: 80px;
        color: white;
        text-align: center;
        background-color: black;
    }

    footer h1 {
        padding-bottom: 60px;
    }

    .footerhr hr {
        width: 80%;
        margin: 0 auto;
    }

    .footerhr ul {
        display: grid;
        grid-template: repeat(1, 1fr);
        grid-row-gap: 2em;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .footerhr ul li {
        list-style: none;
        padding: 10px;
        margin-right: 30px;
    }

    .footerhr ul li a {
        text-decoration: none;
        color: white;
        font-size: 30px;
    }

    footer .sosail ul {
        margin-top: 1px;
    }
}